span {
    color: gray;
}

@font-face {
	font-family: 'Arm Rus Learn 8'; 
	src: url(./arm-rus-learn8.ttf); 
}

.App-Background {
    width: 100%;
    height: 100%;
    background-color: gray;
}

.App {
    max-width: 1700px;
    width: 80%;
    min-height: 100%;
    background-color: rgb(231, 231, 231);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.Header {
    width: 100%;
    display: flex;
}

.Logo {
    display: flex;
    margin: 0px 0px 0px 50px;
}

.LogoSmallText{
    padding-left: 12px;
    padding-top: 55px;
    display: flex;
    height: 30px;

}

.SmallTextBorder {
    padding-left: 14px;
    border-left: 1px solid grey;
    height: 25px;
    width: 60px;
}

.SmallText{
    font-size: 10px;
    padding-top: 5px;
}

.LogoTaviro {
    color: rgb(76, 56, 55);;
    padding-top: 20px;
    display: flex;
    font-size: 58px;
    font-style: italic;
}

.LogoSky {
    padding-top: 47px;
    display: flex;
    color: rgb(88, 88, 199);
    font-size: 23px;
    writing-mode:vertical-lr;
}

.BoardOfMainContent{
    padding-left: 110px;
    display: block;
}

.UsefulLinksMain{
    margin-top: 30px;
    height: 55px;
    width: 100%;
    background-color:rgb(47, 36, 30);
}

.UsefulLinks{
    margin: 0px;
    height: 55px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0%;
}   

.UsefulLinksItem{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 13px;
    padding-top: 19px;
}

.UsefulLinksItemCrushing{
    display: inline-block;
    color: grey;
    font-size: 13px;
    padding-top: 18px;
}

.PageContent {
    min-height: 687px;
}








.MainPage {
    width: 100%;
    min-height: 687px;
    display: block;
}

.ExamplesAbout {
    width: 100%;
}

.Examples {
    display: flex;
    flex-direction: row;
}

.ExamplesRus {
    width: 50%;
}

.ExamplesRusItem {
    border: 5px solid orange;
    border-radius: 10px;
    margin: 5px 10px 10px 10px;
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Arm Rus Learn 8'; 
}

.ExamplesArm {
    width: 50%;
}

.ExamplesArmItem {
    border: 5px solid orange;
    border-radius: 10px;
    margin: 5px 10px 10px 10px;
    padding: 10px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Arm Rus Learn 8'; 
}

.ExamplesAboutTextName {
    font-size: 30px;
    margin-left: 80px;
}

.ExamplesAboutTextItem {
    font-size: 24px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}











.ContentTranslate {
    margin-top: 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.UserWork {
    width: 100%;
}

.SaveItem {
    display: flex;
}

.localItem {
    width: 200px;
    margin: 10px 0px 0px 5px;
    border: 1px solid black;
}

.SaveItem {
    display: flex;
    width: 100%;
    min-height: 100px;  
    margin: 10px 0px 20px 5px;
}

.UsersSave {
    margin: 0px auto 0px auto;
    font-size: 20px;
    width: 120px;
}

.UserClick {
    min-width: 90px;
    margin-left: 10px;
}

.saveText {
    width: 200px;
    padding-left: 10px;
}

.DeleteSave {
    width: 55px;
    margin: 3px 0px 3px 60px;
}

.HeadingPage {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
    font-size: 30px;
    font-style: italic;
    color: rgb(76, 56, 55);
}

.CustomActions {
    width: 95%;
    max-width: 1410px;
    margin: 30px auto 0px auto;
    display: flex;
}

.UserInput {
    width: 100%;
    padding: 5px 5px 5px 5px;
    
    min-height: 100px;
}

.textOutputAndSaving {
    display: flex;
    width: 95%;
    max-width: 1400px;
    margin-right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.TranslatedTextRusArm {
    font-family: 'Arm Rus Learn 8'; 
    width: 100%;
    min-height: 250px;
    border: 5px solid orange;
    border-radius: 15px;
    text-transform: uppercase;
    padding: 5px 10px 5px 10px;
    font-size: 42px;
}

.ButtonSave {
    margin-left: 10px;
    min-width: 90px;
}









.Footer {
    width: 100%;
    height: 100px;
    background-color: rgb(47, 36, 30);
    margin-top: auto;
    margin-bottom: 0%;
}

.Footer-Text {
    width: 200px;
    height: 20px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: 40px;
    color: white;
}
