.MainBoard {
    width: 1280px;
    background-color: rgb(47, 36, 30);
}

.MainBoardOfContent {
    padding-left: 5px;
    width: 1270px;
}

.MainPartOfContent {
    width: 1270px;
    background-color: rgb(214, 214, 214);
}

.header {
    padding-left: 110px;
    width: 1510px;
    display: block;
}

.Header {
    width: 1100px;
    display: flex;
}

.Logo {
    display: flex;
}

.LogoSmallText{
    padding-left: 12px;
    padding-top: 50px;
    display: flex;
    height: 30px;

}

.SmallTextBorder {
    padding-left: 14px;
    border-left: 1px solid grey;
    height: 25px;
    width: 60px;
}

.SmallText{
    font-size: 10px;
    padding-top: 5px;
}

.LogoTaviro {
    color: rgb(76, 56, 55);;
    padding-top: 20px;
    display: flex;
    font-size: 58px;
    font-style: italic;
}

.LogoSky {
    padding-top: 42px;
    display: flex;
    color: rgb(88, 88, 199);
    font-size: 23px;
    writing-mode:vertical-lr;
}

.BoardOfMainContent{
    padding-left: 110px;
    display: block;
}

.UsefulLinksMain{
    padding-top: 40px;
}

.UsefulLinks{
    margin: 0px;
    height: 55px;
    width: 1060px;
    background-color:rgb(47, 36, 30);
    display: flex;
    justify-content: space-between;
}

.UsefulLinksItem{
    display: inline-block;
    color: white;
    font-size: 13px;
    padding-top: 19px;
}

.UsefulLinksItemCrushing{
    display: inline-block;
    color: grey;
    font-size: 13px;
    padding-top: 18px;
}

.Search{
    padding-left: 400px;
    width: 500px;
    display: block;
}

.SearchItem {
    border-radius: 5px;
    width: 200px;
    display: flex;
    border: 1px solid black;
}

.BorderSearchItem{
    padding: 30px 0px 0px 147px;
    display: flex;
    width: 230px;
}

.SearchItemImg{
    padding: 7px 0px 0px 10px;
    width: 12px;
    right: 10px;
    display: flex;
}

.SearchItemInput{
    outline: 0;
    border-radius: 5px;
    border: none;
    background-color: rgb(214, 214, 214);;
}

.SearchItemImgTwitter{
    padding-top: 3px;
    display: flex;
    width: 25px;
}

.SearchItemImgFaceBook{
    display: flex;
    width: 32px;
}

.SearchItemImgGoogle{
    padding-top: 3px;
    display: flex;
    width: 25px;
}

.BoardLogoLinks{
    padding: 3px 0px 0px 281px;
    display: flex;
}

.BoardOfAboutOtherReviews{
    padding-top: 70px;
    display: flex;
}

.BoardOfAboutAndOther {
    margin-right: 50px;
}

.AboutHotel {
    padding-bottom: 50px;
    display: block;
    width: 620px;
    border-bottom: 1px solid grey;
}

.AboutHotelMainName {
    margin: 0px;
    font-size: 30px;
    font-style: italic;
    color: rgb(76, 56, 55);
}

.AboutHotelImg {
    width: 210px;
}

.AboutHotelManyText {
    padding-left: 25px;
    display: block;
    width: 470px;
    text-align: left;
}

.AboutBoardOfImgAndText {
    padding-top: 20px;
    display: flex;
}

.AboutHotelManyTextSMall {
    padding-top: 25px;
    font-size: 10px;
    color: rgb(76, 56, 55);
}

.AboutHotelManyTextMain {
    font-size: 12px;
    color: rgb(76, 56, 55);
}


.OtherInformationMainName {
    padding-top: 40px;
    font-size: 30px;
    font-style: italic;
    margin: 0px;
    color: rgb(76, 56, 55);
}

.OtherInformationMainContent {
    display: block;
    width: 610px;
    padding-top: 30px;
}

.OtherInformationMainContentList{
    display: block;
    width: 610px;
    padding-top: 30px;
    padding-left: 0px;
}

.OtherInformationMainContentItem{
    display: flex;
    padding-bottom: 20px;
}

.OtherInformationMainContentItemText {
    display: block;
}


.OtherInformationMainContentItemImg {
    height: 40px;
    width: 40px;
}

.OtherInformationMainContentItemTextMain{
    padding-left: 15px;
}

.OtherInformationMainContentItemText{
    font-size: 12px;
}

.OtherInformationMainContentItemTextSmall{
    font-size: 9px;
}





.Reviews{
    padding-right: 50px;
    width: 340px;
    border-left: 1px solid grey;
}

.ReviewsMain{
    padding-left: 60px;
}

.ReviewsMainText {
    padding-top: 45px;
    padding-left: 20px;
    width: 320px;
}

.ReviewsMainTextContent {
    font-size: 15px;
}

.ReviewsMainTextUser {
    font-size: 15px;
    padding-top: 25px;
}

.ReviewsMainTextEmail {
    font-size: 15px;
    padding-top: 1px;
    color: blue;
}

.ReviewsMission {
    padding-top: 55px;
    padding-left: 55px;
    padding-bottom: 12px;
    width: 330px;
}

.ReviewsMissionName{
    font-size: 23px;
}

.ReviewsMissionMain{
    font-size: 15px;
    padding-top: 30px;
}

.ReviewsMissionSmall{
    font-size: 12px;
    padding-top: 30px;
}

.ReviewsMissionButton{
    padding-top: 30px;
}

.ReviewsMissionButtonColor{
    background-color: rgb(47, 36, 30);
    width: 70px;
    height: 25px;
}

.ReviewsMissionButtonText{
    padding: 5px 0px 0px 18px;
    font-size: 12px;
    color: white;
}

.BoardOfEnd{
    display: flex;
    height: 100px;
}

.privacy{
    padding: 50px 0px 0px 110px;
    font-size: 8px;
    color: grey;
    width: 100px;
}

.helper{
    padding: 50px 0px 0px 780px;
    color: grey;
    font-size: 8px;
    width: 400px;
}






.Board {
    margin: 100px 0px 0px 400px;
    display: flex;
}

.TextArea {
    width: 600px;
}

.Button {
    margin-top: 4px;
}

.Red {
    width: 600px;
    height: 100px;
    border: 1px solid red;
    margin: 20px 0px 0px 400px;
}

.word {
    display: flex;
}







