.App {
  text-align: center;
  height: 1000px;
  width: 1858px;
}

.MainBoard {
    position: absolute;
    height: 1860px;
    width: 1860px;
    background-color: rgb(59, 7, 7);
}

.MainBoardOfContent {
    position: absolute;
    left: 5px;
    height: 1720px;
    width: 1850px;
    background-color: white;
}

.MainPartOfContent {
    position: absolute;
    left: 160px;
    height: 1720px;
    width: 1510px;
    background-color: white;
}

.Logo {
    position: absolute;
    left: 25px;
    top: 80px;
    height: 80px;
    width: 400px;
    background-color: white;
    text-align: left;
}

.LogoSmallText{
    position: absolute;
    left: 275px;
    top: 35px;
    height: 30px;
    width: 300px;
    background-color: white;
    border-left: 1px solid grey;

}

.SmallText {
    position: absolute;
    top: 5px;
    left: 10px;
}

.LogoTaviro {
    font-size: 70px;
    font-style: italic;
}

.LogoSky {
    position: absolute;
    color: rgb(88, 88, 199);
    top: 28px;
    left: 230px;
    font-size: 30px;
    writing-mode:vertical-lr;
}

.UsefulLinks{
    position: absolute;
    top: 240px;
    height: 100px;
    width: 100%;
    background-color:rgb(59, 7, 7);
    display: flex;
    justify-content: space-between;
}

.UsefulLinksItem{
    display: inline-block;
    color: white;
    font-size: 20px;
    padding-top: 35px;
}

.UsefulLinksItemCrushing{
    display: inline-block;
    color: grey;
    font-size: 15px;
    padding-top: 37px;
}

.Search{
    position: absolute;
    right: 0px;
    top: 100px;
    height: 40px;
    width: 250px;
}

.SearchItem {
    width: 95%;
}

.SearchItemImg{
    position: absolute;
    top: 7px;
    width: 12px;
    height: 12px;
    right: 10px;
}

.SearchItemImgTwitter{
    position: absolute;
    left: 1430px;
    top: 5px;
    width: 20px;
    height: 20px;
    right: 10px;
}

.SearchItemImgFaceBook{
    position: absolute;
    left: 1455px;
    top: 4px;
    width: 24px;
    height: 24px;
    right: 10px;
}

.SearchItemImgGoogle{
    position: absolute;
    top: 7px;
    width: 17px;
    height: 17px;
    right: 10px;
}

.AboutHotel {
    position: absolute;
    top: 450px;
    height: 550px;
    width: 950px;
    background-color: white;
    border-bottom: 1px solid grey;
}

.AboutHotelMainName {
    position: absolute;
    font-size: 40px;
    font-style: italic;
    color: rgb(59, 7, 7);
}

.AboutHotelImg {
    position: absolute;
    height: 350px;
    width: 400px;
    top: 110px;
    right: 550px;
}

.AboutHotelManyText {
    position: absolute;
    width: 470px;
    height: 400px;
    background-color: white;
    left: 430px;
    top: 110px;
    text-align: left;
}

.AboutHotelManyTextSMall {
    padding-top: 15px;
    color: rgb(59, 7, 7);
}

.AboutHotelManyTextMain {
    font-size: 18px;
    color: rgb(59, 7, 7);
}

.Reviews{
    position: absolute;
    top: 450px;
    left: 1000px;
    height: 1150px;
    width: 500px;
    background-color: white;
    border-left: 1px solid grey;
}

.ReviewsMain {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 600px;
    left: 50px;
    text-align: left;
}

.ReviewsMission {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 400px;
    left: 50px;
    top: 630px;
    text-align: left;
}

.ReviewsMainThreeMain {
    font-size: 20px;
    width: 480px;
    font-weight: 700;
}

.ReviewsMainThreeSmall {
    margin-top: 20px;
    width: 480px;
}

.ReviewsMainThreeButton {
    margin-top: 20px;
    background-color: black;
    color: white;
    width: 70px;
    text-align: center;
}

.ReviewsMainOneText {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 50px;
    top: 80px;
}

.ReviewsMainTwoText {
    position: absolute;
    width: 350px;
    height: 250px;
    left: 50px;
    top: 340px;
}

.ReviewsMainThreeText {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 80px;
}

.ReviewsMainEMail {
    color: blue;
}

.ReviewsMainNameUser {
    margin-top: 10px;
}


.OtherInformation {
    position: absolute;
    top: 1050px;
    height: 550px;
    width: 950px;
    background-color: white;
}

.OtherInformationOne{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 850px;
    height: 90px;
    background-color: white;
}

.OtherInformationTwo{
    position: absolute;
    top: 210px;
    left: 100px;
    width: 850px;
    height: 90px;
    background-color: white;
}

.OtherInformationThree{
    position: absolute;
    top: 330px;
    left: 100px;
    width: 850px;
    height: 90px;
    background-color: white;
}

.OtherInformationFour{
    position: absolute;
    top: 440px;
    left: 100px;
    width: 850px;
    height: 90px;
    background-color: white;
}

.OtherInformationItem {
    top: 0px;
    position: absolute;
    text-align: left;
}

.OtherInformationImgOne {
    position: absolute;
    right: 860px;
    width: 70px;
    height: 70px;
}

.OtherInformationImgTwo {
    position: absolute;
    right: 850px;
    width: 90px;
    height: 90px;
}

.OtherInformationImgThree {
    position: absolute;
    right: 860px;
    width: 70px;
    height: 70px;
}

.OtherInformationImgFour {
    position: absolute;
    right: 860px;
    width: 70px;
    height: 70px;
}

.privacy{
    position: absolute;
    top: 1800px;
    left: -50px;
    color: grey;
}

.helper{
    position: absolute;
    top: 1800px;
    left: 1200px;
    color: grey;
    width: 400px;
}